<div class="pb-1">
  <input
    type="month"
    id="from-month"
    name="fromMonth"
    [(ngModel)]="fromMonth"
  />
  ~
  <input type="month" id="to-month" name="toMonth" [(ngModel)]="toMonth" />
</div>
<table class="border-collapse w-full bg-white shadow-md" #budgetTable>
  <thead>
    <tr class="bg-gray-200">
      <th class="border p-2"></th>
      <th class="border p-2">Category</th>
      <th class="border p-2" *ngFor="let month of getDisplayMonth">
        {{ month }}
      </th>
      <th class="border p-2">Action</th>
    </tr>
  </thead>
  <tbody id="budget-table">
    <ng-container *ngFor="let data of getFlatTableData; let i = index">
      <tr *ngIf="getBudgetCategory(data).subTotal">
        <td class="border p-2 text-center"></td>
        <td class="cell font-bold">Sub Total</td>
        <ng-container *ngFor="let month of getDisplayMonth; let j = index">
          <td *ngIf="isDisplayDataOfMonth(j + 1)" class="cell font-bold">
            {{ getBudgetCategory(data).subTotal ? getBudgetCategory(data).subTotal?.[month] : '' }}
          </td>
        </ng-container>
        <td class="cell delete-cell"></td>
      </tr>
      <tr>
        <td class="border p-2 text-center">{{ i + 1 }}</td>
        <td class="cell" [contentEditable]="!data.name">{{ data.name }}</td>
        <ng-container *ngFor="let month of getDisplayMonth; let j = index">
          <td
            *ngIf="isDisplayDataOfMonth(j + 1)"
            appTable
            class="cell"
            (contextmenu)="openContextMenu($event)"
            (input)="onValueChanged($event, month)"
            contenteditable="true"
            [tabindex]="i + 1"
          >
            {{ data.values ? data.values[month] : "" }}
          </td>
        </ng-container>
        <td class="cell delete-cell" (click)="onDeleteRow(i)">DELETE</td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <td class="cell"><strong>Total Income</strong></td>
      <td class="cell"></td>
      <td class="cell font-bold" *ngFor="let month of getDisplayMonth">
        {{ budgetData.summary.totalIncome[month] }}
      </td>
      <td class="cell"></td>
    </tr>
    <tr>
      <td class="cell"><strong>Total Expense</strong></td>
      <td class="cell"></td>
      <td class="cell font-bold" *ngFor="let month of getDisplayMonth">
        {{ budgetData.summary.totalExpense[month] }}
      </td>
      <td class="cell"></td>
    </tr>
    <tr>
      <td class="cell"><strong>Profit/Loss</strong></td>
      <td class="cell"></td>
      <td class="cell font-bold" *ngFor="let month of getDisplayMonth">
        {{ budgetData.summary.profit[month] }}
      </td>
      <td class="cell"></td>
    </tr>
  </tfoot>
</table>

<app-context-menu #contextMenu [options]="menuOptions"></app-context-menu>
